<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
        <link rel="stylesheet" href="/stylesheets/stylehome.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div>
      {{>nav}}
      <div class="headi">
        <h1>ABOUT US</h1>
      </div>
      <div class="about">
        <h1><b>&nbsp;Delivery Information</b></h1>
        <p>&nbsp;<i class="fa fa-stop-circle" aria-hidden="true"></i>&nbsp;Our
          online store is open with worldwide shipping available and we want to
          assure you we are doing everything we can to continue trading and
          operating normally, with the utmost safety for our team, so that we
          can continue to deliver the service our fans have come to expect.</p>
        <p>&nbsp;<i
            class="fa fa-stop-circle"
            aria-hidden="true"
          ></i>&nbsp;Delivery charges are applicable on all the items.<br /><b
          >&nbsp;&nbsp;PAKISTAN Rs.500</b><br /><b>&nbsp;&nbsp;ABROAD Rs.2000</b></p>
        <h1><b>&nbsp;Shipping Notes</b></h1>
        <p>&nbsp;<i
            class="fa fa-stop-circle"
            aria-hidden="true"
          ></i>&nbsp;Orders placed after midday (Monday to Friday) will ship the
          next business day.</p>
        <p>&nbsp;<i
            class="fa fa-stop-circle"
            aria-hidden="true"
          ></i>&nbsp;Please note we do not dispatch orders on the weekend.</p>
        <p>&nbsp;<i class="fa fa-stop-circle" aria-hidden="true"></i>&nbsp;All
          orders are sent via a courier of our choice, and we may change the
          couriers we use without notice, although the level of service will
          always be equivalent. Standard Shipments will be sent via Royal Mail
          and Express Orders will usually be sent via Royal Mail Tracked 24 or
          UK Mail. International orders will be sent via Royal Mail or DHL
          Express.</p>
        <p>&nbsp;<i class="fa fa-stop-circle" aria-hidden="true"></i>&nbsp;If
          you are away from the delivery address our courier will put a card
          through your door allowing you to re-book a delivery with the courier
          or allow you to pick up the order from the depot or sorting office.
          The courier has the right to attempt a delivery to a near by
          neighbour, rather than redelivering the next day.</p>
        <p>&nbsp;<i class="fa fa-stop-circle" aria-hidden="true"></i>&nbsp;If a
          customer inputs any incorrect address details on their order, which
          causes the parcel to be delivered incorrectly. We will not hold any
          responsibility for this parcel.ie, the customer will have to try and
          retrieve the parcel themselves at their cost.</p>
        <h1><b>&nbsp;Product Delivery Errors</b></h1>
        <p>&nbsp;<i
            class="fa fa-stop-circle"
            aria-hidden="true"
          ></i>&nbsp;Delivery errors must be reported within 1 day of date of
          delivery. All orders, are checked and double checked before leaving
          our warehouse. If you are a UK customer and you have not received your
          order within 7 days of dispatch date, then you must notify us within
          these 7 days. If you notify us after these 7 days then we will not be
          responsible for its location, and we may not be able to claim for the
          parcel if it lost/stolen.</p>
        <p>&nbsp;<i class="fa fa-stop-circle" aria-hidden="true"></i>&nbsp;If
          you have received your parcel in poor condition/damaged or have items
          missing, you must keep all outer packaging so that the courier can
          collect the box for their investigation. Any damaged boxes must be
          signed for as ‘damaged’ at delivery. Where possible sign with the word
          ‘damaged + your name’ in the signature box. You may be asked to send
          us photos of the damaged packaging and / or product. Photographic
          evidence helps us ensure the issue is dealt with quickly and
          efficiently.</p>
      </div>
      {{>footer}}
    </div>
    <a href="/about"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
    {{>scripts}}
  </body>
</html>