<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/stylehome.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <div>
      {{>nav}}
      <div class="mencollection">
        <div class="heading">
          <h1><b>MEN'S COLLECTION</b></h1>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="450"
                  src="images/MD5.jpg"
                  class="card-img-top"
                  alt="mencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Sherwani</h5>
                  <p class="card-text">Rs:5000</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="450"
                  src="images/MD6.jpeg"
                  class="card-img-top"
                  alt="mencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Men's Waistcoat</h5>
                  <p class="card-text">Rs:4000</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="450"
                  src="images/MD3.jpg"
                  class="card-img-top"
                  alt="mencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Kurta Pajama</h5>
                  <p class="card-text">Rs:2000</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="450"
                  src="images/MD4.jpg"
                  class="card-img-top"
                  alt="mencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Stylish Kurta</h5>
                  <p class="card-text">Rs:2500</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="380"
                  src="images/MT1.jpg"
                  class="card-img-top"
                  alt="mencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">T-Shirts</h5>
                  <p class="card-text">Rs:1000</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="380"
                  src="images/MT2.jpg"
                  class="card-img-top"
                  alt="mencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">T-Shirts</h5>
                  <p class="card-text">Rs:1000</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="380"
                  src="images/MT3.jpg"
                  class="card-img-top"
                  alt="mencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">T-Shirts</h5>
                  <p class="card-text">Rs:1000</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="380"
                  src="images/MT4.jpg"
                  class="card-img-top"
                  alt="mencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">T-Shirts</h5>
                  <p class="card-text">Rs:1000</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="450"
                  src="images/MP1.jpg"
                  class="card-img-top"
                  alt="mencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Pants</h5>
                  <p class="card-text">Rs:1000</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="450"
                  src="images/MP2.jpg"
                  class="card-img-top"
                  alt="mencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Pants</h5>
                  <p class="card-text">Rs:1000</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="450"
                  src="images/MP3.jpg"
                  class="card-img-top"
                  alt="mencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Pants</h5>
                  <p class="card-text">Rs:1000</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="450"
                  src="images/MP4.webp"
                  class="card-img-top"
                  alt="mencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Track Pants</h5>
                  <p class="card-text">Rs:1000</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="380"
                  src="images/MS1.jpg"
                  class="card-img-top"
                  alt="mencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Men's Shoes</h5>
                  <p class="card-text">Rs:2000</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="380"
                  src="images/MS4.jpeg"
                  class="card-img-top"
                  alt="mencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Men's Shoes</h5>
                  <p class="card-text">Rs:2000</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="380"
                  src="images/MS5.webp"
                  class="card-img-top"
                  alt="mencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Peshawari Sandel</h5>
                  <p class="card-text">Rs:1500</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="380"
                  src="images/MS2.jpg"
                  class="card-img-top"
                  alt="mencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Men's Shoes</h5>
                  <p class="card-text">Rs:2000</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="400"
                  src="images/m.watch4.webp"
                  class="card-img-top"
                  alt="mencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Men's Watch</h5>
                  <p class="card-text">Rs:3000</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="400"
                  src="images/m.watch1.jpg"
                  class="card-img-top"
                  alt="mencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Men's Watch</h5>
                  <p class="card-text">Rs:2500</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="400"
                  src="images/m.watch2.jpg"
                  class="card-img-top"
                  alt="mencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Men's Watch</h5>
                  <p class="card-text">Rs:2000</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="400"
                  src="images/m.watch3.jpg"
                  class="card-img-top"
                  alt="mencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Men's Watch</h5>
                  <p class="card-text">Rs:3500</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="400"
                  src="images/wallet1.jpg"
                  class="card-img-top"
                  alt="mencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Men's Wallet</h5>
                  <p class="card-text">Rs:1500</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="400"
                  src="images/wallet2.jpg"
                  class="card-img-top"
                  alt="mencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Men's Wallet</h5>
                  <p class="card-text">Rs:2000</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="400"
                  src="images/wallet3.jpg"
                  class="card-img-top"
                  alt="mencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Men's Wallet</h5>
                  <p class="card-text">Rs:1500</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="400"
                  src="images/wallet4.webp"
                  class="card-img-top"
                  alt="mencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Men's Wallet</h5>
                  <p class="card-text">Rs:1500</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="400"
                  src="images/PM1.webp"
                  class="card-img-top"
                  alt="mencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Perfume For Men</h5>
                  <p class="card-text">Rs:4000</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="400"
                  src="images/PM2.jpg"
                  class="card-img-top"
                  alt="mencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Perfume For Men</h5>
                  <p class="card-text">Rs:4000</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="400"
                  src="images/PM3.jpg"
                  class="card-img-top"
                  alt="mencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Perfume For Men</h5>
                  <p class="card-text">Rs:4000</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="400"
                  src="images/PM4.jpg"
                  class="card-img-top"
                  alt="mencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Perfume For Men</h5>
                  <p class="card-text">Rs:4000</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <h4>Copyright<i
            class="fa fa-copyright"
            aria-hidden="true"
          ></i>ShopatHome
        </h4>
      </div>
    </div>
    <a href="/men"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
    {{>scripts}}
  </body>

</html>