<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
        <link rel="stylesheet" href="/stylesheets/stylehome.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <div>
      {{>nav}}
      <div class="womencollection">
        <div class="heading">
          <h1><b>WOMEN'S COLLECTION</b></h1>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="450"
                  src="images/WD2.jpg"
                  class="card-img-top"
                  alt="womencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Embroided Suit</h5>
                  <p class="card-text">Rs:3000</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="450"
                  src="images/WD3.jpg"
                  class="card-img-top"
                  alt="womencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Long Frock</h5>
                  <p class="card-text">Rs:3000</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="450"
                  src="images/WD1.jpg"
                  class="card-img-top"
                  alt="womencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Kurti With Tights</h5>
                  <p class="card-text">Rs:2000</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="450"
                  src="images/WD4.jpg"
                  class="card-img-top"
                  alt="womencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Kurti With Pajama</h5>
                  <p class="card-text">Rs:2000</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="450"
                  src="images/wsan2.jpg"
                  class="card-img-top"
                  alt="womencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Red Shoes</h5>
                  <p class="card-text">Rs:2000</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="450"
                  src="images/wsan3.webp"
                  class="card-img-top"
                  alt="womencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">High Heels</h5>
                  <p class="card-text">Rs:2500</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="450"
                  src="images/wsan1.jpg"
                  class="card-img-top"
                  alt="womencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">High Heels</h5>
                  <p class="card-text">Rs:2500</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="450"
                  src="images/wsan4.jpg"
                  class="card-img-top"
                  alt="womencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Pumps</h5>
                  <p class="card-text">Rs:2000</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="400"
                  src="images/HB4.jpg"
                  class="card-img-top"
                  alt="womencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Ladies Handbags</h5>
                  <p class="card-text">Rs:2000</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="400"
                  src="images/HB3.jpg"
                  class="card-img-top"
                  alt="womencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Ladies Handbags</h5>
                  <p class="card-text">Rs:2000</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="400"
                  src="images/HB1.webp"
                  class="card-img-top"
                  alt="womencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Ladies Handbags</h5>
                  <p class="card-text">Rs:2000</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="400"
                  src="images/HB2.jpg"
                  class="card-img-top"
                  alt="womencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Ladies Handbags</h5>
                  <p class="card-text">Rs:2000</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="350"
                  src="images/earing1.jpg"
                  class="card-img-top"
                  alt="womencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Long Earings</h5>
                  <p class="card-text">Rs:2500</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="350"
                  src="images/earing2.jpg"
                  class="card-img-top"
                  alt="womencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Jhumka</h5>
                  <p class="card-text">Rs:2500</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="350"
                  src="images/earing3.jpg"
                  class="card-img-top"
                  alt="womencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Earings</h5>
                  <p class="card-text">Rs:2000</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="350"
                  src="images/earing4.jpg"
                  class="card-img-top"
                  alt="womencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Earings</h5>
                  <p class="card-text">Rs:2000</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="380"
                  src="images/bangle1.jpg"
                  class="card-img-top"
                  alt="womencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Bracelet</h5>
                  <p class="card-text">Rs:1000</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="380"
                  src="images/bangle2.jpg"
                  class="card-img-top"
                  alt="womencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Bracelet</h5>
                  <p class="card-text">Rs:1000</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="380"
                  src="images/bangle3.jpg"
                  class="card-img-top"
                  alt="womencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Bracelet</h5>
                  <p class="card-text">Rs:1000</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="380"
                  src="images/bangle4.jpg"
                  class="card-img-top"
                  alt="womencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Bracelet</h5>
                  <p class="card-text">Rs:1000</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="400"
                  src="images/ring1.jpg"
                  class="card-img-top"
                  alt="womencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Rings</h5>
                  <p class="card-text">Rs:1000</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="400"
                  src="images/ring2.jpg"
                  class="card-img-top"
                  alt="womencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Rings</h5>
                  <p class="card-text">Rs:1000</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="400"
                  src="images/ring3.jpg"
                  class="card-img-top"
                  alt="womencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Rings</h5>
                  <p class="card-text">Rs:1000</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="400"
                  src="images/ring4.jpg"
                  class="card-img-top"
                  alt="womencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Rings</h5>
                  <p class="card-text">Rs:1000</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="380"
                  src="images/w.watch1.webp"
                  class="card-img-top"
                  alt="womencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Ladies Watch</h5>
                  <p class="card-text">Rs:1500</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="380"
                  src="images/w.watch2.webp"
                  class="card-img-top"
                  alt="womencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Ladies Watch</h5>
                  <p class="card-text">Rs:1000</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="380"
                  src="images/w.watch3.jpg"
                  class="card-img-top"
                  alt="womencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Ladies Watch</h5>
                  <p class="card-text">Rs:1500</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="380"
                  src="images/w.watch4.jpg"
                  class="card-img-top"
                  alt="womencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Ladies Watch</h5>
                  <p class="card-text">Rs:1500</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="380"
                  src="images/WC1.jpg"
                  class="card-img-top"
                  alt="womencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Fit Me Liquid</h5>
                  <p class="card-text">Rs:2000</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="380"
                  src="images/WC2.jpg"
                  class="card-img-top"
                  alt="womencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Brushes</h5>
                  <p class="card-text">Rs:1500</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="380"
                  src="images/WC3.jpg"
                  class="card-img-top"
                  alt="womencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Burst Of Colors</h5>
                  <p class="card-text">Rs:2000</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="380"
                  src="images/WC4.jpg"
                  class="card-img-top"
                  alt="womencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Lipstick Kit</h5>
                  <p class="card-text">Rs:2000</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="400"
                  src="images/PL1.jpg"
                  class="card-img-top"
                  alt="womencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Ladies Perfumes</h5>
                  <p class="card-text">Rs:3000</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="400"
                  src="images/PL2.jpg"
                  class="card-img-top"
                  alt="womencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Ladies Perfumes</h5>
                  <p class="card-text">Rs:3000</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="400"
                  src="images/PL3.jpg"
                  class="card-img-top"
                  alt="womencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Ladies Perfumes</h5>
                  <p class="card-text">Rs:3000</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card" style="width: 18rem;">
                <img
                  height="400"
                  src="images/PL4.webp"
                  class="card-img-top"
                  alt="womencollection"
                />
                <div class="card-body">
                  <h5 class="card-title">Ladies Perfumes</h5>
                  <p class="card-text">Rs:2000</p>
                  <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{>footer}}
    </div>
    <a href="/women"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
  {{>scripts}}
  </body>

</html>